<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("47472abb-4a9b-4e8e-b893-a865ca4245f6");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
